<p id="notice"><%= notice %></p>

<p>
  <strong>Icon url:</strong>
  <%= @quote.icon_url %>
</p>

<p>
  <strong>Cn:</strong>
  <%= @quote.cn_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @quote.url %>
</p>

<p>
  <strong>Value:</strong>
  <%= @quote.value %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
