<!-- main content -->
<section class="main-content">
  <!-- content wrapper -->
  <div class="content-wrap">
    <!-- inner content wrapper -->
    <div class="wrapper">
      <%= flash[:message] %>
      <div class="container text-center " id="main_dashboard">
        <%= form_for Search.new do |f| %>
          <div class="row">
            <%= image_tag("chuck_norris_main_page", size: "300x300") %>
          </div>
          <div class="row">
            <%= f.text_field :value, :class => "form-control", :placeholder => "", :rows => 5, :maxlength => 80 %>
          </div>
          <div class="row ">
            <%= f.submit t('search'), class: "btn btn-primary search-button" %>
            <%= link_to t('lucky'), random_searches_path, method: :get, class: "btn btn-primary search-button " , style: "color: white;" %>
          </div>
          <div class="row">
            <%= link_to t('categories'), categories_searches_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</section>

<!-- /main content -->