<!DOCTYPE html>
<html>
  <head>
    <title>ChuckNorris</title>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% form_tag root_path, class: 'locale', :method => :get do %>
    <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>
  <% end %>

  <%= render partial: "layouts/header" %>

  <%= yield %>
  </body>
</html>
